/* .app {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 73px;
  width: 1007px;
  height: 617px;
  margin: auto;
} */

/* .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

/* .title {
  color: #353535;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
} */

/* .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px;
  width: 300px;
  height: 24px;
  border-style: none;
  background: #f7f7f7;
  border-radius: 16px;
} */

.box::placeholder {
  padding-left: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 40px;

  width: 1007px;
  height: 62px;
} */

/* .button {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  width: 111px;
  height: 46px;
  background: #58c187;
  border-radius: 20px;
  border-style: none;
  color: white;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-work {
  color: #353535;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40%;
}

.button-done {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  width: 111px;
  height: 46px;
  background: #58c187;
  border-radius: 20px;
  border-style: none;
  color: white;
}

.button-delete {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  width: 111px;
  height: 46px;
  background: #bcbebd;
  border-radius: 20px;
  border-style: none;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.list-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  gap: 40px;
  width: 1007px;
  height: 46px;
  margin-bottom: 4px;
}

.button-notdone {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  width: 111px;
  height: 46px;
  background: #e96a62;
  border-radius: 20px;
  border-style: none;
  color: white;
} */
